---
layout: home-page
---
{% include calculate_relative_base.html %}

<div class="layout-container">
  <!-- Left side - 30% fixed -->
  <div class="left-content">
    <div style="margin: 50px auto 0px; padding-top: 20px;">
      <!-- Add your left side content here -->
       <div style="margin: 0 auto 0px; width: 150px;">
        <img src="{{ relativebase }}assets/img/Myself.jpg" 
          alt="{{ site.author }}"
          style="width: 150px;">
       </div>
       <p style="font-size: 28px;
              color: #5F8081; 
              font-weight: bold; 
              text-align: center;
              font-family: 'Times New Roman', Times, serif;">
          {{site.author}}
      </p>
      <p style="text-align: center;font-size: medium;">
        {{site.author-degree}} <br>
        {{site.author-school}} <br>
        {{site.author-email}}
      </p>
      <div style="text-align: center;">
        <ul class="contact-icons">
          <li class="github"><a class="github" href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
          <li class="email"><a class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Right side - 70% scrollable -->
  <div class="right-content">
    <div style="padding: 20px;font-size: medium;">
      <!-- Your existing post card box will go here -->

      <p style="font-size: 24px;
      color: #5F8081; 
      font-weight: bold; 
      padding-top: 20px;
      font-family: 'Times New Roman', Times, serif;">
        About Me
      </p>
      <p style="text-align: justify;">
        I am a Master's student at the <a href="https://decisionintelligence.github.io/" target="_blank">Decision Intelligence Lab</a>, 
        East China Normal University, 
        supervised by Prof. <a href="https://binyangdk.github.io/" target="_blank">Bin Yang</a>.
        I completed my Bachelor's degree in Software Engineering from <a href="https://www.sdu.edu.cn/" target="_blank">Shandong University</a> in 2024. 
        <br>
        My research primarily focuses on <b>Spatiotemporal Data Analysis.</b> 
        Please feel free to conntact me if you are interested in my work.
      </p>

      <p style="font-size: 24px;
      color: #5F8081; 
      font-weight: bold; 
      padding-top: 20px;
      font-family: 'Times New Roman', Times, serif;">
        Research Publications
      </p>

        <b>2025:</b>
        <ul style="text-align: justify;">
          <li>
            <b>Zhe Li</b> and Xiangfei Qiu and Peng Chen and Yihang Wang and Hanyin Cheng and Yang Shu and Jilin Hu and Chenjuan Guo and Aoying Zhou and Christian S. Jensen and Bin Yang*. TSFM-Bench: A Comprehensive and Unified Benchmark of Foundation Models for Time Series Forecasting. SIGKDD. 
            <a href="https://dl.acm.org/doi/10.1145/3711896.3737442" target="_blank">[Paper]</a>
            <a href="https://github.com/decisionintelligence/TSFM-Bench" target="_blank">[Code]</a>
          </li>
          <li>
            Xiangfei Qiu, <b>Zhe Li</b>, Wanghui Qiu, Shiyan Hu, Lekui Zhou, Xingjian Wu, Zhengyu Li Chenjuan Guo, Aoying Zhou, Zhenli Sheng, Jilin Hu*, Christian S. Jensen, Bin Yang. TAB: Unified Benchmarking of Time Series Anomaly Detection Methods. PVLDB.
          </li>
        </ul>

        <b>2024:</b>
        <ul style="text-align: justify;">
          <li>
            <b>Zhe Li</b>, Ronghui Xu*, Jilin Hu, Zhong Peng, Xi Lu, Chenjuan Guo, Bin Yang. Ocean Significant Wave Height Estimation with Spatio-temporally Aware Large Language Models. CIKM. 
            <a href="https://doi.org/10.1145/3627673.3679973" target="_blank">[Paper]</a>
          </li>
        </ul>

        <b>2023:</b>
        <ul style="text-align: justify;">
          <li>
            Yunxiao Wang and Meng Liu* and <b>Zhe Li</b> and Yupeng Hu* and Xin Luo and Liqiang Nie. 
            Unlocking the Power of Multimodal Learning for Emotion Recognition in Conversation. MM. 
            <a href="https://doi.org/10.1145/3581783.3613846" target="_blank">[Paper]</a>
            <a href="https://acmmm2023.wixsite.com/fagm" target="_blank">[Code]</a>
          </li>
        </ul>

      <!-- <p style="font-size: 24px;
      color: #5F8081; 
      font-weight: bold; 
      padding-top: 20px;
      font-family: 'Times New Roman', Times, serif;">
        Blogs
      </p>
      <ol class="post-card-box clearfix">
        {% for post in paginator.posts %}
        {% include remove_double_slash.html %}
        <li>
          <div class="post-card">
            <a href="{{ post_url }}" title="{{ post.title }}" class="post-card-image" style="background: url('{{ relativebase }}assets/img/{{ post.img }}') center no-repeat; background-size: cover;">
            </a>
            <div class="post-card-body">
              <p class="post-card-title-and-meta">
                <a href="{{ post_url }}" class="post-card-link">
                {{ post.title }}
                </a>
                {% include post_meta.html type="post-card-meta" date="none" %}
              </p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol> -->
    </div>
  </div>
</div>

<style>
  .layout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 70px;
    position: relative;
  }
  
  .left-content {
    width: 30%;
    position: sticky;
    top: 70px;
    height: fit-content;
    padding-right: 20px;
  }
  
  .right-content {
    width: 70%;
  }
  
  /* 手机或小屏幕设备：上下排列 */
  @media screen and (max-width: 968px) {
    .layout-container {
      flex-direction: column; /* 上下布局 */
    }
  
    .left-content {
      width: 100%;
      position: relative;
      top: 0;
      padding-right: 0;
      margin-bottom: 20px;
    }
  
    .right-content {
      width: 100%;
    }
  }
</style>
