---
layout: home-page
---
{% include calculate_relative_base.html %}

<div class="layout-container" style="margin-top: 70px; ">
  <!-- Left side - 30% fixed -->
  <div class="left-content">
    <div style="margin: 50px 0 15px; padding: 20px;">
      <!-- Add your left side content here -->
       <div style="margin: 0 auto 0px; width: 150px;">
        <img src="{{ relativebase }}assets/img/Myself.jpg" 
          alt="{{ site.author }}"
          style="width: 150px;">
       </div>
       <p style="font-size: 28px;
              color: #5F8081; 
              font-weight: bold; 
              text-align: center;
              font-family: 'Times New Roman', Times, serif;">
          {{site.author}}
      </p>
      <p style="text-align: center;font-size: medium;">
        {{site.author-degree}} <br>
        {{site.author-school}} <br>
        {{site.author-email}}
      </p>
      <div style="text-align: center;">
        <ul class="contact-icons">
          <li class="github"><a class="github" href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
          <li class="email"><a class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Right side - 70% scrollable -->
  <div class="right-content">
    <div style="padding: 20px;">
      <!-- Your existing post card box will go here -->
      <ol class="post-card-box clearfix">
        {% for post in paginator.posts %}
        {% include remove_double_slash.html %}
        <li>
          <div class="post-card">
            <a href="{{ post_url }}" title="{{ post.title }}" class="post-card-image" style="background: url('{{ relativebase }}assets/img/{{ post.img }}') center no-repeat; background-size: cover;">
            </a>
            <div class="post-card-body">
              <p class="post-card-title-and-meta">
                <a href="{{ post_url }}" class="post-card-link">
                {{ post.title }}
                </a>
                {% include post_meta.html type="post-card-meta" date="none" %}
              </p>
            </div>
          </div>
        </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

<style>
  .layout-container {
    display: flex;
    flex-direction: row; /* 默认左右布局 */
    justify-content: space-between;
  }
  
  /* 左侧固定宽度，右侧自适应 */
  .left-content {
    width: 20%;
    position: fixed;
  }
  
  .right-content {
    width: 70%;
    margin-left: 30%; /* 为了避开 fixed 的 left-content */
  }
  
  /* 手机或小屏幕设备：上下排列 */
  @media screen and (max-width: 968px) {
    .layout-container {
      flex-direction: column; /* 上下布局 */
    }
  
    .left-content {
      width: 100% !important;
      position: relative !important;
      margin-bottom: 20px !important;
    }
  
    .right-content {
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
  </style>
  

